# Second Session in Python

# Data Structure in Python

In [2]:
my_book = 'Pratical Statistics for Data Science'

In [3]:
print(my_book)

Pratical Statistics for Data Science

In [4]:
my_book1 = 'Two staties'

In [5]:
my_book2 = 'Immortal of Melhua'

# LIST

In [6]:
list1 = [1,2,3,4,5]

In [7]:
print(list1)

[1, 2, 3, 4, 5]

In [8]:
list2 = [1,2,'Three','Four',5]

In [9]:
print(list2)

[1, 2, 'Three', 'Four', 5]

In [47]:
bigList = [my_book1, my_book2, my_book, list1, list2]

In [12]:
print(bigList)

['Two staties', 'Immortal of Melhua', 'Pratical Statistics for Data Science', [1, 2, 3, 4, 5], [1, 2, 'Three', 'Four', 5]]

## Access the list element

In [15]:
bigList[2]

'Pratical Statistics for Data Science'

In [16]:
bigList[4]

[1, 2, 'Three', 'Four', 5]

In [17]:
# Acess the variable inside Nested List
bigList[4][2]

'Three'

In [18]:
a = bigList[4]

In [19]:
print(a)

[1, 2, 'Three', 'Four', 5]

In [20]:
a[2]

'Three'

In [21]:
a[2][1]

'h'

# Multiple element in the list ~similar to  Slicing in system

In [24]:
bigList[0:3] # it takes index as 0, 1, 2 and its ignore 3

['Two staties', 'Immortal of Melhua', 'Pratical Statistics for Data Science']

In [25]:
a = 'apple'

In [26]:
print(a)

apple

In [27]:
a = 'orange'

In [28]:
a

'orange'

In [29]:
bigList[0]

'Two staties'

In [30]:
bigList[0] = 'Two States'

In [31]:
print(bigList)

['Two States', 'Immortal of Melhua', 'Pratical Statistics for Data Science', [1, 2, 3, 4, 5], [1, 2, 'Three', 'Four', 5]]

In [32]:
my_book1

'Two staties'

In [34]:
len(bigList)

5

In [35]:
# Operation that we can perform are 
# 1. Add
# 2. Remove

In [36]:
# Add the element in the list == append()
bigList.append('Sixth Sense')

In [37]:
bigList

['Two States',
 'Immortal of Melhua',
 'Pratical Statistics for Data Science',
 [1, 2, 3, 4, 5],
 [1, 2, 'Three', 'Four', 5],
 'Sixth Sense']

In [38]:
len(bigList)

6

In [39]:
bigList.remove('Sixth Sense') # To get Help use Shift + Tab inside the ()

In [40]:
bigList

['Two States',
 'Immortal of Melhua',
 'Pratical Statistics for Data Science',
 [1, 2, 3, 4, 5],
 [1, 2, 'Three', 'Four', 5]]

In [41]:
bigList.pop()  # I can delete the element using Index and when there is no index it will delete the last element

[1, 2, 'Three', 'Four', 5]

In [42]:
bigList

['Two States',
 'Immortal of Melhua',
 'Pratical Statistics for Data Science',
 [1, 2, 3, 4, 5]]

In [43]:
bigList.pop(0)

'Two States'

In [44]:
bigList

['Immortal of Melhua', 'Pratical Statistics for Data Science', [1, 2, 3, 4, 5]]

In [45]:
del bigList # delete the List

In [48]:
bigList # Afterexecuting create List, variable got added

['Two staties',
 'Immortal of Melhua',
 'Pratical Statistics for Data Science',
 [1, 2, 3, 4, 5],
 [1, 2, 'Three', 'Four', 5]]

In [49]:
bigList.clear() # Delete the element inside the list

In [50]:
bigList

[]

In [53]:
copyList = list1.copy()

In [54]:
copyList

[1, 2, 3, 4, 5]

In [56]:
newList = list(copyList)

In [57]:
newList

[1, 2, 3, 4, 5]

In [58]:
newList2 = list([1,2,3,4,5])

In [59]:
newList2

[1, 2, 3, 4, 5]

In [60]:
list1

[1, 2, 3, 4, 5]

In [61]:
list2

[1, 2, 'Three', 'Four', 5]

In [62]:
list1 + list2

[1, 2, 3, 4, 5, 1, 2, 'Three', 'Four', 5]

In [63]:
list1.append(list2)

In [64]:
list1

[1, 2, 3, 4, 5, [1, 2, 'Three', 'Four', 5]]

In [65]:
list1.extend(list2)

In [66]:
list1

[1, 2, 3, 4, 5, [1, 2, 'Three', 'Four', 5], 1, 2, 'Three', 'Four', 5]

# Tuple

In [67]:
# List -> [] -> Mutable
# Tuple => () - > Immutable

In [68]:
bookLis1 = [my_book, my_book1, my_book2]

In [70]:
bookLis1

['Pratical Statistics for Data Science', 'Two staties', 'Immortal of Melhua']

In [71]:
bookLis1.append('Sizth Sense')

In [72]:
bookLis1

['Pratical Statistics for Data Science',
 'Two staties',
 'Immortal of Melhua',
 'Sizth Sense']

In [73]:
bookTuple = (my_book, my_book1, my_book2)

In [74]:
bookTuple

('Pratical Statistics for Data Science', 'Two staties', 'Immortal of Melhua')

In [76]:
del bookTuple

In [77]:
bookTuple

NameError: name 'bookTuple' is not defined

In [78]:
tuple1 = (1,2,3,'Three')

In [79]:
tuple1

(1, 2, 3, 'Three')

In [80]:
tuple1[0]

1

In [82]:
tuple1[1:2]

(2,)

In [84]:
tuple1 = tuple((1,2,3))

In [85]:
tuple1

(1, 2, 3)

In [86]:
len(tuple1)

3

In [87]:
list5 = ['apple']

In [88]:
list5

['apple']

In [89]:
tuple5 = ('apple')

In [90]:
type(list5)

list

In [91]:
type(tuple5)

str

In [92]:
tuple6 = ('apple','orange')

In [93]:
type(tuple6)

tuple

In [94]:
tuple7 = ('apple',)

In [95]:
type(tuple7)

tuple

In [96]:
tuple6 + tuple7

('apple', 'orange', 'apple')

In [97]:
x = (1,2,3,4)

In [98]:
x = (1,2,3,4,5)

In [99]:
x

(1, 2, 3, 4, 5)

In [100]:
y = list(x)

In [101]:
y[0] = 10

In [102]:
x = tuple(y)

In [103]:
x

(10, 2, 3, 4, 5)

# SET

In [112]:
set1 = {1, 2, 3}

In [105]:
set1

{1, 2, 3}

In [107]:
set1

{1, 2, 3}

In [110]:
set1.pop()

1

In [111]:
set1.pop()

2

# Dictionary

In [116]:
dict1 = {'key1' : 'value'}

In [117]:
dict2 = {'Chetan' : ['Two states', 'Five point'], 1 : 4 }

In [118]:
dict2

{'Chetan': ['Two states', 'Five point'], 1: 4}

In [119]:
dict2['Chetan']

['Two states', 'Five point']

In [120]:
dict2[1]

4

In [121]:
dict2['Chetan'][0]

'Two states'

In [123]:
dict1 = {'Age': [1,2,3,4], 'Dept': ['de1',2,3,4]}

In [124]:
dict1

{'Age': [1, 2, 3, 4], 'Dept': ['de1', 2, 3, 4]}

In [125]:
len(dict1)

2

In [126]:
dict1['Sex'] = ['M','F']

In [127]:
dict1

{'Age': [1, 2, 3, 4], 'Dept': ['de1', 2, 3, 4], 'Sex': ['M', 'F']}

In [128]:
dict1['Dept'] = [1,2,3,4]

In [129]:
dict1

{'Age': [1, 2, 3, 4], 'Dept': [1, 2, 3, 4], 'Sex': ['M', 'F']}

In [135]:
child1 = {"name" : "Sun", "year" :2004}
child2 = {"name" : "Moon", "year" : 2007}

In [136]:
child1

{'name': 'Sun', 'year': 2004}

In [137]:
child2

{'name': 'Moon', 'year': 2007}

In [138]:
Children = {1 : child1, 2 : child2}

In [139]:
Children

{1: {'name': 'Sun', 'year': 2004}, 2: {'name': 'Moon', 'year': 2007}}

In [143]:
Children[1]['name']

'Sun'