# Built in Function

In [2]:
abs(-12.54)

12.54

In [4]:
max([1,2,3,4])

4

In [5]:
max('hello')

'o'

In [6]:
min('hello')

'e'

In [7]:
str1 = 'I am a boy who live in a city'

In [9]:
type(str1.split(' '))

list

In [10]:
aaa = str1.split(' ')
aaa

['I', 'am', 'a', 'boy', 'who', 'live', 'in', 'a', 'city']

In [11]:
str2 = ' '.join(aaa)
str2

'I am a boy who live in a city'

In [12]:
str3 = ':'.join(aaa)
str3

'I:am:a:boy:who:live:in:a:city'

In [13]:
type(str3)

str

In [14]:
test_your = [1,2,3,4,5,5,7]
sum(test_your)

27

In [15]:
sum(test_your)/len(test_your)

3.857142857142857

# If Statement

In [18]:
a = 5
b = 7

if a < b :
    print('IF: a is smaller than b')
else :
    print('ELSE: a is greater than b')

IF: a is smaller than b

In [19]:
a = 9
b = 1

if a < b :
    print('IF: a is smaller than b')
else :
    print('ELSE: a is greater than b')

ELSE: a is greater than b

In [22]:
a = 5
b = 7

if a < b :
    print('IF: a is smaller than b')
    sum = a + b
    print(sum)
else :
    print('ELSE: a is greater than b')

IF: a is smaller than b
12

In [29]:
if 2 < 3:
    print('hello') # 4 space for indention or a single tab for indention

hello

In [30]:
# Nested ifelse is written as if -> elif -> else or if -> elif -> elif -> else(optional)

In [31]:
a = 7
b = 5
c = 10

if a < b :
    print('Hello')
elif a < c:
    print('Hello 2')
else:
    print('No Hello')

Hello 2

In [33]:
2 % 2

0

In [34]:
my_number = 918652728452151

In [35]:
my_number % 17

0

In [37]:
# Multiple condition
a = 7
b = 5
c = 10

if ( a < b and a < c ):
    print('a is Smaller')
else:
    if b < a and b < c:
        print('b is smaller')
    else:
        if c < a and c < b :
            print('c is smaller')
        else:
            print('No result')

b is smaller

In [38]:
# Multiple condition and Nested if else
a = 7
b = 5
c = 10

if ( a < b and a < c ):
    print('a is Smaller')
elif b < a and b < c:
    print('b is smaller')
elif c < a and c < b :
    print('c is smaller')
else:
    print('No result')

b is smaller

# Loop
### For Loop

In [43]:
list_number = [1,6,7,8,99]

for i in list_number :
    print(i)

1
6
7
8
99

In [48]:
for i in range(0,15):
    print('Hello')

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [53]:
print('Odd Number: ')
for i in range(1, 100, 2):
    print(i)

Odd Number:
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [54]:
print('Even Number: ')
for i in range(2, 100, 2):
    print(i)

Even Number:
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [55]:
my_string = 'Hello World'

for i in my_string :
    print(i)

H
e
l
l
o

W
o
r
l
d

In [62]:
# Can we concatenate str and int/float
for i in range(0,5):
    print("Number is " + i)

TypeError: can only concatenate str (not "int") to str

In [63]:
for i in range(0,5):
    print("Number is " + str(i) )

Number is 0
Number is 1
Number is 2
Number is 3
Number is 4

In [65]:
for i in range(0,5):
    print(str(i) + ' : Number')

0 : Number
1 : Number
2 : Number
3 : Number
4 : Number

In [66]:
# Nest For Loop

In [68]:
list2 = [1,2,['a','b']]
list2

[1, 2, ['a', 'b']]

In [69]:
len(list2)

3

In [70]:
list2[-1]

['a', 'b']

In [83]:
cnt = 0
for i in list2:
    print(i)
    cnt = cnt + 1
    if cnt == 2:
        for j in list2[i]:
            print(j)
        break

1
2
a
b